<!DOCTYPE html>
<html lang="en" class="lang=" en"">

{{> head}}

<body>

    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        {{>sidebar}}
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            {{>navbar}}
            <!-- Page content-->
            <div class="container-fluid">

                <div class="container mt-5">
                    <div class="progress px-1" style="height: 3px;">
                        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="step-container d-flex justify-content-between">
                        <div class="step-circle" onclick="displayStep(1)">1</div>
                        <div class="step-circle" onclick="displayStep(2)">2</div>
                        <div class="step-circle" onclick="displayStep(3)">3</div>
                        <div class="step-circle" onclick="displayStep(4)">4</div>
                        <div class="step-circle" onclick="displayStep(5)">5</div>
                        <div class="step-circle" onclick="displayStep(6)">6</div>
                        <div class="step-circle" onclick="displayStep(7)">7</div>
                        <div class="step-circle" onclick="displayStep(8)">8</div>
                        <div class="step-circle" onclick="displayStep(9)">9</div>
                    </div>
                </div>
                <div id="container" class="container mt-5 form-container">

                    <form id="appointmentForm" class="mb-5" style="">
                        <div class="step step-1" id="step1">
                            <h3>NEW APPOINTMENT</h3>
                            <br>
                            <div class="form-group mb-3">
                                <label for="appointmentType" class="form-label">Appointment Type :</label>
                                <select name="appointmentType" id="appointmentType" class="form-select">
                                    <option value="">---Select Type---</option>
                                    <option value="SS">Super Stockist</option>
                                    <option value="DB">Distributor</option>
                                </select>
                            </div>

                            <div class="form-group mb-3">
                                <label for="appointmentReason" class="form-label">Reason :</label>
                                <select name="appointmentReason" id="appointmentReason" class="form-select">
                                    <option value="">---Select Reason---</option>
                                    <option value="Replacement">Replacement</option>
                                    <option value="Birfurcation">Birfurcation</option>
                                    <option value="Expansion">Expansion</option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label for="townPincode" class="form-label">Pincode :</label>
                                <input type="text" name="townPincode" id="townPincode" class="form-control">
                            </div>
                            <div class="form-group mb-3">
                                <label for="baseTown" class="form-label">Base Town :</label>
                                <input type="text" id="baseTown" name="baseTown" class="form-control">
                            </div>
                            <div class="form-group mb-3">
                                <label for="townState" class="form-label">State :</label>
                                <input type="text" id="townState" name="townState" class="form-control">

                            </div>
                            <div class="form-group mb-3">
                                <label for="townPopulation" class="form-label">Population :</label>
                                <select name="townPopulation" id="townPopulation" class="form-select">
                                    <option value="">---Select Population---</option>
                                    <option value="100000">1 lac to 5 lac</option>
                                    <option value="500000">5 lac to 10 lac</option>
                                    <option value="1000000">Above 10 lac</option>
                                </select>
                            </div>
                            <div class="form-label mb-3">
                                <label for="townRegion" class="form-label">Region :</label>
                                <select name="townRegion" id="townRegion" class="form-select">
                                    <option value="">---Select Region---</option>
                                    <option value="North">North</option>
                                    <option value="East">East</option>
                                    <option value="West">West</option>
                                    <option value="South">South</option>
                                </select>
                            </div>
                            <div class="sticky-bottom sticky-buttons">
                                <br>
                                <button type="button" class="btn btn-primary next-step">Next</button>
                            </div>
                        </div>

                        <div class="step step-2" id="step2">
                            <h3>EXIT FORM FOR OLD PARTY</h3>
                            <div class="form-group mb-3">
                                <label for="sapCode" class="form-label">Existing Party's SAP SS/DB Code :</label>
                                <input type="text" class="form-control" id="sapCode" name="sapCode">
                            </div>
                            <div class="form-group mb-3">
                                <label for="existingPartyName" class="form-label">Exisitng Party's Name in SAP :</label>
                                {{!-- <select name="existingPartyName" id="existingPartyName" class="form-select">
                                    <option value="">---Select Party---</option>
                                    {{#each partyDetails}}
                                    <option value="{{party_id}}">{{firm_name}}</option>
                                    {{/each}}
                                </select> --}}
                                <input type="text" class="form-control" id="existingPartyName" name="existingPartyName">
                            </div>
                            <div class="form-group mb-3">
                                <label for="existingPartyTown" class="form-label">Existing Party's Town :</label>
                                <input type="text" class="form-control" id="existingPartyTown" name="existingPartyTown">
                            </div>
                            <div class="form-group mb-3">
                                <label for="existingPartyContact" class="form-label">Exisitng Party's Contact :</label>
                                <input type="tel" class="form-control" id="existingPartyContact"
                                    name="existingPartyContact">
                            </div>
                            <div class="form-group mb-3">
                                <label for="existingPartyTurnover" class="form-label">Turnover (in lakhs) :</label>
                                <input type="number" class="form-control" id="existingPartyTurnover"
                                    name="existingPartyTurnover">
                            </div>
                            <div class="form-group mb-3">
                                <label for="exitReason" class="form-label">Reason for Replacement / Birfurcation
                                    :</label>
                                <select name="exitReason" id="exitReason" class="form-select"
                                    onchange="showTextField()">
                                    <option value="">---Select Reason---</option>
                                    <option value="Not Interested">Not Interested</option>
                                    <option value="Check Bounce">Check Bounce</option>
                                    <option value="Poor Distribution">Poor Distribution</option>
                                    <option value="Financially Weak">Financially Weak</option>
                                    <option value="Coverage Increase">Coverage Increase</option>
                                    <option value="Others">Others</option>
                                </select>
                                <input type="text" class="form-control" id="otherText" placeholder="Please specify"
                                    oninput="updateOthersOption()" />
                            </div>
                            <div class="form-group mb-3">
                                <label for="claimSettlementStatus" class="form-label">Status of Claim Settlement
                                    :</label>
                                <input type="radio" id="claimSettlementYes" name="claimSettlementStatus" value="yes">
                                <label for="claimSettlementYes">Yes</label>
                                <input type="radio" id="claimSettlementNo" name="claimSettlementStatus" value="no">
                                <label for="claimSettlementNo">No</label>
                            </div>
                            <div class="form-group mb-3">
                                <label for="claimRegarding" class="form-label">Claims Regarding :</label>
                                <select name="claimRegarding" class="form-select" id="claimRegarding">
                                    <option value="">---Select Reason---</option>
                                    <option value="Damage Claim">Damage Claim</option>
                                    <option value="Secondary Claim">Secondary Claim</option>
                                    <option value="Damage and Secondary Claim">Damage and Secondary Claim</option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label for="claimAmount" class="form-label">Claim Amount (in Lakhs) :</label>
                                <input type="number" class="form-control" id="claimAmount" name="claimAmount">
                            </div>
                            <div class="form-group mb-3">
                                <label for="settlementTimeline" class="form-label">Timeline for Settlement :</label>
                                <input type="date" class="form-control" id="settlementTimeline"
                                    name="settlementTimeline">
                            </div>
                            <div class="form-group mb-3">
                                <label for="uploadNOC" class="form-label">Upload Resignation / NOC :</label>
                                <input type="file" class="form-control" id="uploadNOC" name="uploadNOC">
                            </div>
                            <div class="form-group mb-3">
                                <label for="distributionDuration" class="form-label">Duration of distribution with UG
                                    (in Years)
                                    :</label>
                                <input type="number" class="form-control" id="distributionDuration"
                                    name="distributionDuration">
                            </div>

                            <div class="sticky-bottom sticky-buttons">

                                <button type="button" class="btn btn-primary prev-step">Previous</button>
                                <button type="button" class="btn btn-primary next-step">Next</button>
                            </div>
                        </div>

                        <div class="step step-3" id="step3">
                            <h3>DETAILS OF NEW PARTY</h3>
                            <div class="form-group mb-3">
                                <label for="firmName" class="form-label">Title of Firm (as per GST/TIN) :</label>
                                <input type="text" class="form-control" id="firmName" name="firmName">
                            </div>
                            <div class="form-group mb-3">
                                <label for="GSTNo" class="form-label">GST No. :</label>
                                <input type="text" class="form-control" id="GSTNo" name="GSTNo">
                                <div id="GSTcheck"></div>
                            </div>
                            <div class="form-group mb-3">
                                <label for="GSTCertficate" class="form-label">Upload GST Certificate :</label>
                                <input type="file" class="form-control" id="GSTCertficate" name="GSTCertficate">
                            </div>
                            <div class="form-group mb-3">
                                <label for="firmAddress" class="form-label">Address :</label>
                                <textarea class="form-control" id="firmAddress" name="firmAddress"></textarea>
                                <div class="char-count" id="charCount">0 characters</div>
                                <div class="invalid-feedback" id="error-message">
                                    Address must be at least 25 characters long.
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label for="cityName" class="form-label">City/Town :</label>
                                <input type="text" class="form-control" id="cityName" name="cityName">
                            </div>
                            <div class="form-group mb-3">
                                <label for="stateName" class="form-label">State :</label>
                                <input type="text" class="form-control" id="stateName" name="stateName">
                            </div>
                            <div class="form-group mb-3">
                                <label for="pinCode" class="form-label">Pin Code :</label>
                                <input type="number" class="form-control" id="pinCode" name="pinCode">
                            </div>
                            <div class="form-group mb-3">
                                <label for="warehouseSize" class="form-label">Warehouse Size (carpet area in Sq. Ft.)
                                    :</label>
                                <input type="number" class="form-control" id="warehouseSize" name="warehouseSize">
                            </div>
                            <div class="form-group mb-3">
                                <label for="contactPersonName" class="form-label">Name of Contact Person :</label>
                                <input type="text" class="form-control" id="contactPersonName" name="contactPersonName">
                            </div>
                            <div class="form-group mb-3">
                                <label for="mobileNo" class="form-label">Mobile Number</label>
                                <input type="tel" class="form-control" id="mobileNo" name="mobileNo">
                            </div>
                            <div class="form-group mb-3">
                                <label for="emailId" class="form-label">Email ID :</label>
                                <input type="email" class="form-control" id="emailId" name="emailId">
                            </div>
                            <div class="form-group mb-3">
                                <label for="areaCovered" class="form-label">Areas to be Covered by the New Party (comma
                                    separated) :</label>
                                <input type="text" class="form-control" id="areaCovered" name="areaCovered">
                            </div>
                            <div class="form-group mb-3">
                                <label for="partyType" class="form-label">Type of Firm :</label>
                                <select name="partyType" id="partyType" class="form-select">
                                    <option value="">---Select Type---</option>
                                    <option value="1">Sole Proprietor</option>
                                    <option value="2">Partnership</option>
                                    <option value="3">Pvt. Ltd. Company</option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label for="firmCertificate" class="form-label">Upload Firm Certificate :</label>
                                <input type="file" class="form-control" id="firmCertificate" name="firmCertificate">
                            </div>
                            <div class="form-group mb-3">
                                <label for="partyTurnover" class="form-label">Current Turnover (in Lakhs) :</label>
                                <input type="number" class="form-control" id="partyTurnover" name="partyTurnover">
                            </div>

                            <div class="sticky-bottom sticky-buttons">

                                <button type="button" class="btn btn-primary prev-step">Previous</button>
                                <button type="button" class="btn btn-primary next-step">Next</button>
                            </div>
                        </div>

                        <div class="step step-4" id="step4">
                            <h3>BANK DETAILS OF NEW PARTY</h3>
                            <div class="form-group mb-3">
                                <label for="accountHolderName" class="form-label">Account Holder Name :</label>
                                <input type="text" class="form-control" id="accountHolderName" name="accountHolderName">
                            </div>
                            <div class="form-group mb-3">
                                <label for="accountNo" class="form-label">Account Number :</label>
                                <input type="text" class="form-control" id="accountNo" name="accountNo">
                            </div>
                            <div class="form-group mb-3">
                                <label for="IFSCCode" class="form-label">IFSC Code :</label>
                                <input type="text" class="form-control" id="IFSCCode" name="IFSCCode">
                            </div>
                            <div class="form-group mb-3">
                                <label for="bankName" class="form-label">Bank Name :</label>
                                <input type="text" class="form-control" id="bankName" name="bankName">

                            </div>
                            <div class="form-group mb-3">
                                <label for="branchName" class="form-label">Branch Name :</label>
                                <input type="text" class="form-control" id="branchName" name="branchName">
                            </div>
                            <div class="form-group mb-3">
                                <label for="partyAadhaarCardFront" class="form-label">Aadhaar Card (Front) :</label>
                                <input type="file" class="form-control" id="partyAadhaarCardFront"
                                    name="partyAadhaarCardFront">
                            </div>
                            <div class="form-group mb-3">
                                <label for="partyAadhaarCardBack" class="form-label">Aadhaar Card (Back) :</label>
                                <input type="file" class="form-control" id="partyAadhaarCardBack"
                                    name="partyAadhaarCardBack">
                            </div>
                            <div class="form-group mb-3">
                                <label for="partyPANCard" class="form-label">PAN Card :</label>
                                <input type="file" class="form-control" id="partyPANCard" name="partyPANCard">
                            </div>
                            <div class="form-group mb-3">
                                <label for="partyCancelledCheque" class="form-label">Cancelled Cheque :</label>
                                <input type="file" class="form-control" id="partyCancelledCheque"
                                    name="partyCancelledCheque">
                            </div>

                            <div class="sticky-bottom sticky-buttons">

                                <button type="button" class="btn btn-primary prev-step">Previous</button>
                                <button type="button" class="btn btn-primary next-step">Next</button>
                            </div>
                        </div>

                        <div class="step step-5" id="step5">
                            <h3>CURRENT INFRASTRUCTURE</h3>
                            <p>*currently handled companies</p>
                            <div class="form-group mb-3">
                                <label for="companyName1" class="form-label">Company Name 1 :</label>
                                <input type="text" class="form-control" id="companyName1" name="companyName1">

                                <label for="companyCategory1" class="form-label">Company Category :</label>
                                <select name="companyCategory1" id="companyCategory1" class="form-select">
                                    <option value="">---Select Category---</option>
                                    <option value="Personal Care & Grooming">Personal Care & Grooming</option>
                                    <option value="Baby Care">Baby Care</option>
                                    <option value="Beauty & Cosmetics">Beauty & Cosmetics</option>
                                    <option value="Food and Beverages">Food and Beverages</option>
                                    <option value="Health Care">Health Care</option>
                                    <option value="FMCG">FMCG</option>
                                </select>


                                <label for="outletCovered1" class="form-label">Outlets Covered :</label>
                                <input type="number" class="form-control" id="outletCovered1" name="outletCovered1">

                                <label for="salesmanCount1" class="form-label">No. of Salesman :</label>
                                <input type="number" class="form-control" id="salesmanCount1" name="salesmanCount1">

                                <label for="vehicleCount1" class="form-label">No. of Units (Vehicles) :</label>
                                <input type="number" class="form-control" id="vehicleCount1" name="vehicleCount1">

                                <label for="approxTurnover1" class="form-label">Approx. Turnover (in Lakhs) :</label>
                                <input type="number" class="form-control" id="approxTurnover1" name="approxTurnover1">

                                <label for="approxInvestment1" class="form-label">Approx. Investment (in Lakhs)
                                    :</label>
                                <input type="number" class="form-control" id="approxInvestment1"
                                    name="approxInvestment1">

                                <label for="investmentProof1" class="form-label">proof of company invoice :</label>
                                <input type="file" class="form-control" id="investmentProof1" name="investmentProof1">
                            </div>
                            <br><br>
                            <div class="form-group mb-3">
                                <label for="companyName2" class="form-label">Company Name 2 :</label>
                                <input type="text" class="form-control" id="companyName2" name="companyName2">

                                <label for="companyCategory2" class="form-label">Company Category :</label>
                                <select name="companyCategory2" id="companyCategory2" class="form-select">
                                    <option value="">---Select Category---</option>
                                    <option value="Personal Care & Grooming">Personal Care & Grooming</option>
                                    <option value="Baby Care">Baby Care</option>
                                    <option value="Beauty & Cosmetics">Beauty & Cosmetics</option>
                                    <option value="Food and Beverages">Food and Beverages</option>
                                    <option value="Health Care">Health Care</option>
                                    <option value="FMCG">FMCG</option>
                                </select>

                                <label for="outletCovered2" class="form-label">Outlets Covered :</label>
                                <input type="number" class="form-control" id="outletCovered2" name="outletCovered2">

                                <label for="salesmanCount2" class="form-label">No. of Salesman :</label>
                                <input type="number" class="form-control" id="salesmanCount2" name="salesmanCount2">

                                <label for="vehicleCount2" class="form-label">No. of Units (Vehicles) :</label>
                                <input type="number" class="form-control" id="vehicleCount2" name="vehicleCount2">

                                <label for="approxTurnover2" class="form-label">Approx. Turnover (in Lakhs) :</label>
                                <input type="number" class="form-control" id="approxTurnover2" name="approxTurnover2">

                                <label for="approxInvestment2" class="form-label">Approx. Investment (in Lakhs)
                                    :</label>
                                <input type="number" class="form-control" id="approxInvestment2"
                                    name="approxInvestment2">

                                <label for="investmentProof2" class="form-label">proof of company invoice :</label>
                                <input type="file" class="form-control" id="investmentProof2" name="investmentProof2">
                            </div>
                            <div class="sticky-bottom sticky-buttons">

                                <button type="button" class="btn btn-primary prev-step">Previous</button>
                                <button type="button" class="btn btn-primary next-step">Next</button>
                            </div>
                        </div>

                        <div class="step step-6" id="step6">
                            <h3>PROPOSED UG INFRASTRUCTURE</h3>
                            <div class="form-group mb-3">
                                <label for="proposedOutletCovered" class="form-label">Proposed Outlets to be Covered
                                    :</label>
                                <input type="number" class="form-control" id="proposedOutletCovered"
                                    name="proposedOutletCovered">
                            </div>
                            <div class="form-group mb-3">
                                <label for="routesCount" class="form-label">No. of beats :</label>
                                <input type="number" class="form-control" id="routesCount" name="routesCount">
                            </div>
                            <div class="form-group mb-3">
                                <label for="proposedSalesmanCount" class="form-label">No. of Salesman :</label>
                                <input type="number" class="form-control" id="proposedSalesmanCount"
                                    name="proposedSalesmanCount">
                            </div>
                            <div class="form-group mb-3">
                                <label for="proposedTwoWheelerCount" class="form-label">No. of 2 Wheelers :</label>
                                <input type="number" class="form-control" id="proposedTwoWheelerCount"
                                    name="proposedTwoWheelerCount">
                            </div>
                            <div class="form-group mb-3">
                                <label for="proposedFourWheelerCount" class="form-label">No. of 4 Wheelers :</label>
                                <input type="number" class="form-control" id="proposedFourWheelerCount"
                                    name="proposedFourWheelerCount">
                            </div>
                            <div class="form-group mb-3">
                                <label for="expectedTurnover" class="form-label">Expected Turnover :</label>
                                <input type="number" class="form-control" id="expectedTurnover" name="expectedTurnover">
                            </div>
                            <div class="form-group mb-3">
                                <label for="stockNorms" class="form-label">Stock Norm in Days (LEAD TIME + BUFFER
                                    STOCK)</label>
                                <input type="number" class="form-control" id="stockNorms" name="stockNorms">
                            </div>
                            <div class="form-group mb-3">
                                <label for="invoiceFrequency" class="form-label">Frequency of Invoice :</label>
                                <select name="invoiceFrequency" id="invoiceFrequency" class="form-select">
                                    <option value="">---Select Frequency---</option>
                                    <option value="1">Weekly</option>
                                    <option value="2">Biweekly</option>
                                    <option value="3">Fortnightly</option>
                                </select>
                            </div>
                            <div class="sticky-bottom sticky-buttons">

                                <button type="button" class="btn btn-primary prev-step">Previous</button>
                                <button type="button" class="btn btn-primary next-step">Next</button>
                            </div>
                        </div>

                        <div class="step step-7" id="step7">
                            <h3>IT INFRASTRUCTURE</h3>
                            <div class="form-group mb-3">
                                <label for="compAvailable" class="form-label">Computer Availability :</label>
                                <input type="radio" id="compAvailableYes" name="compAvailable" value="yes">
                                <label for="compAvailableYes">Yes</label>
                                <input type="radio" id="compAvailableNo" name="compAvailable" value="no">
                                <label for="compAvailableNo">No</label>
                            </div>
                            <div class="form-group mb-3">
                                <label for="compCount" class="form-label">No. of Computers :</label>
                                <input type="number" class="form-control" id="compCount" name="compCount">
                            </div>
                            <div class="form-group mb-3">
                                <label for="internetConnection" class="form-label">Internet Connection :</label>
                                <input type="radio" id="internetConnectionYes" name="internetConnection" value="yes">
                                <label for="internetConnectionYes">Yes</label>
                                <input type="radio" id="internetConnectionNo" name="internetConnection" value="no">
                                <label for="internetConnectionNo">No</label>
                            </div>
                            <div class="form-group mb-3">
                                <label for="RSConnectCompatible" class="form-label">Compatible with RS Connect :</label>
                                <input type="radio" id="RSConnectCompatibleYes" name="RSConnectCompatible" value="yes">
                                <label for="RSConnectCompatibleYes">Yes</label>
                                <input type="radio" id="RSConnectCompatibleNo" name="RSConnectCompatible" value="no">
                                <label for="RSConnectCompatibleNo">No</label>
                            </div>
                            <div class="sticky-bottom sticky-buttons">
                                <button type="button" class="btn btn-primary prev-step">Previous</button>
                                <button type="button" class="btn btn-primary next-step">Next</button>
                            </div>
                        </div>

                        <div class="step step-8" id="step8">
                            <h3>UPLOAD PICTURES</h3>
                            <div class="form-group mb-3">
                                <label for="ownerPic" class="form-label">Owner's Pic :</label>
                                <input type="file" class="form-control" id="ownerPic" name="ownerPic">
                            </div>
                            <div class="form-group mb-3">
                                <label for="officeGate" class="form-label">Office Main Gate :</label>
                                <input type="file" class="form-control" id="officeGate" name="officeGate">
                            </div>
                            <div class="form-group mb-3">
                                <label for="godownPic1" class="form-label">Godown Pic 1 :</label>
                                <input type="file" class="form-control" id="godownPic1" name="godownPic1">
                            </div>
                            <div class="form-group mb-3">
                                <label for="godownPic2" class="form-label">Godown Pic 2 :</label>
                                <input type="file" class="form-control" id="godownPic2" name="godownPic2">
                            </div>
                            <div class="form-group mb-3">
                                <label for="deliveryVehPic" class="form-label">Delivery Vehicle Pic :</label>
                                <input type="file" class="form-control" id="deliveryVehPic" name="deliveryVehPic">
                            </div>

                            <div class="sticky-bottom sticky-buttons">
                                <button type="button" class="btn btn-primary prev-step">Previous</button>
                                <button type="button" class="btn btn-primary next-step">Next</button>
                            </div>
                        </div>

                        <div class="step step-9" id="step9">
                            <h3>APPROVERS</h3>
                            <div class="form-group mb-3">
                                <label for="firstApprover" class="form-label">First Level Approver :</label>
                                <select id="firstApprover" name="firstApprover" class="form-control">
                                    <option value="{{userInfo.employee_id}}" selected>{{userInfo.employee_name}} - {{userInfo.employee_designation}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label for="secondApprover" class="form-label">Second Level Approver :</label>
                                <select id="secondApprover" name="secondApprover" class="form-control"></select>
                            </div>
                            <div class="form-group mb-3">
                                <label for="thirdApprover" class="form-label">Third Level Approver :</label>
                                <select id="thirdApprover" name="thirdApprover" class="form-control"></select>
                            </div>
                            <div class="sticky-bottom sticky-buttons">
                                <button type="button" class="btn btn-primary prev-step">Previous</button>
                                <button type="submit" class="btn btn-success" onclick="submitForm()">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


</body>

{{> scripts}}

<script>
    var currentStep = 1;
    var updateProgressBar;

    function displayStep(stepNumber) {
        if (stepNumber >= 1 && stepNumber <= 9) {
            $(".step-" + currentStep).hide();
            $(".step-" + stepNumber).show();
            currentStep = stepNumber;
            updateProgressBar();
            $('html, body').animate({ scrollTop: 0 }, 'fast');

        }
    }

    $(document).ready(function () {
        $('#appointmentForm').find('.step').slice(1).hide();

        $(".next-step").click(function () {
            if (currentStep < 10) {
                $(".step-" + currentStep).addClass("animate__animated animate__fadeOutLeft");

                if (currentStep === 1) {
                    const reason = $('#appointmentReason').val();
                    if (reason === 'Expansion') {
                        $('#step2').hide();
                        currentStep += 2;  // Skip Step 2 if reason is Expansion
                    } else {
                        currentStep++;
                    }
                } else {
                    currentStep++;
                }

                setTimeout(function () {
                    $(".step").removeClass("animate__animated animate__fadeOutLeft").hide();
                    $(".step-" + currentStep).show().addClass("animate__animated animate__fadeInRight");
                    updateProgressBar();
                    $('html, body').animate({ scrollTop: 0 }, 'fast');  // Scroll to top
                }, 500);
            }
        });

        $(".prev-step").click(function () {
            if (currentStep > 1) {
                $(".step-" + currentStep).addClass("animate__animated animate__fadeOutRight");

                if (currentStep === 3) {
                    const reason = $('#appointmentReason').val();
                    if (reason === 'Expansion') {
                        $('#step2').hide();

                        // disable step 2

                        currentStep -= 2;  // Skip Step 2 if reason is Expansion
                    } else {
                        currentStep--;
                    }
                } else {
                    currentStep--;
                }

                setTimeout(function () {
                    $(".step").removeClass("animate__animated animate__fadeOutRight").hide();
                    $(".step-" + currentStep).show().addClass("animate__animated animate__fadeInLeft");
                    updateProgressBar();
                    $('html, body').animate({ scrollTop: 0 }, 'fast');  // Scroll to top
                }, 500);
            }
        });

        updateProgressBar = function () {
            var progressPercentage = ((currentStep - 1) / 8) * 100;
            $(".progress-bar").css("width", progressPercentage + "%");
        }
    });


    async function getEmployeeDetails(employeeId) {
        try {
            const response = await fetch(`/getEmployeeDetails/${employeeId}`);
            const data = await response.json();
            return data;
        } catch (error) {
            console.error('Error fetching employee details:', error);
        }
    }

    async function populateApprovers() {
        const employeeId = $('#firstApprover').val();

        const firstApprover = await getEmployeeDetails(employeeId);
        if (!firstApprover || firstApprover.error) {
            alert('First approver not found');
            return;
        }

        console.log('First approver:', firstApprover);

        // Get second approver details (manager of first approver)
        const secondApprover = await getEmployeeDetails(firstApprover.reporting_to);
        if (!secondApprover || secondApprover.error) {
            alert('Second approver not found');
            return;
        }

        console.log('Second approver:', secondApprover);

        // Populate the second approver dropdown
        $('#secondApprover').empty().append(`<option value="${secondApprover.employee_id}">${secondApprover.employee_name} - ${secondApprover.employee_designation}</option>`);

        // Get third approver details (manager of second approver)
        const thirdApprover = await getEmployeeDetails(secondApprover.reporting_to);
        if (!thirdApprover || thirdApprover.error) {
            alert('Third approver not found');
            return;
        }

        console.log('Third approver:', thirdApprover);

        // Populate the third approver dropdown
        $('#thirdApprover').empty().append(`<option value="${thirdApprover.employee_id}">${thirdApprover.employee_name} - ${thirdApprover.employee_designation}</option>`);
    }

    $(document).ready(function () {
        populateApprovers();
    });

    //fetch party detail by sap code
    document.getElementById('sapCode').addEventListener("blur", function () {
        var sapCode = document.getElementById('sapCode').value;
        console.log(sapCode)
        if (sapCode.length) {
            $.ajax({
                url: '/distributor/' + sapCode,
                type: 'GET',
                success: function (response) {
                    console.log('Party details:', response);
                    document.getElementById('existingPartyName').innerHTML = '';
                    document.getElementById('existingPartyName').value = response.firm_name;
                    document.getElementById('existingPartyTown').value = response.address + ', ' + response.city + ', ' + response.state + ', ' + response.pincode;
                    document.getElementById('existingPartyContact').value = response.mobile;
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching party details:', error);
                    swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: 'Error fetching party details: ' + error,
                        confirmButtonText: 'OK'
                    });
                }
            });
        }
    });

    function showTextField() {
        var selectBox = document.getElementById("exitReason");
        var otherText = document.getElementById("otherText");
        if (selectBox.value === "Others") {
            otherText.style.display = "inline";
            otherText.value = "";  // Clear the input field when "Others" is selected
            otherText.focus();  // Focus on the input field
        } else {
            otherText.style.display = "none";
            otherText.value = selectBox.value;
        }
    }

    document.getElementById("otherText").addEventListener("input", function () {
        var otherText = document.getElementById("otherText");
        var selectBox = document.getElementById("exitReason");
        var othersOption = selectBox.querySelector("option[value='Others']");
        othersOption.value = otherText.value;
        othersOption.textContent = otherText.value;
    });

    // Fetch town details when pincode is entered
    document.getElementById('townPincode').addEventListener('input', function () {
        var baseTown = document.getElementById('townPincode').value;
        if (baseTown.length === 6) {
            $.ajax({
                url: 'https://api.postalpincode.in/pincode/' + baseTown,
                type: 'GET',
                success: function (response) {
                    console.log('Town details:', response[0].Status);
                    if (response[0].Status === 'Error') {
                        console.error('Error fetching town details:', response[0].Message);

                        swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: 'Check the Pincode. Error fetching town details: ' + response[0].Message,
                            confirmButtonText: 'OK'
                        });

                    } else if (response[0].Status === 'Success') {
                        document.getElementById('baseTown').value = response[0].PostOffice[0].District;
                        document.getElementById('baseTown').disabled = true;
                        document.getElementById('townState').value = response[0].PostOffice[0].State;
                        document.getElementById('townState').disabled = true;
                    }

                },
                error: function (xhr, status, error) {
                    console.error('Check the Pincode. Error fetching town details:', error[0].Message);

                }
            });
        }
    });

    // Character count for Firm Address
    document.addEventListener('DOMContentLoaded', function () {
        var textarea = document.getElementById('firmAddress');
        var charCount = document.getElementById('charCount');
        var errorMessage = document.getElementById('error-message');

        textarea.addEventListener('input', function () {
            var length = textarea.value.length;
            charCount.textContent = length + ' characters';

            if (length < 25) {
                charCount.classList.add('invalid');
                textarea.classList.add('is-invalid');
                errorMessage.style.display = 'block';
            } else {
                charCount.classList.remove('invalid');
                textarea.classList.remove('is-invalid');
                errorMessage.style.display = 'none';
            }
        });

        document.getElementById('appointmentForm').addEventListener('submit', function (event) {
            if (textarea.value.length < 25) {
                event.preventDefault();
            }
        });
    });

    //GST Number Validation
    document.getElementById('GSTNo').addEventListener('input', function () {
        var GSTNo = document.getElementById('GSTNo').value;
        var GSTNoPattern = /^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}$/;
        if (GSTNo === '') {
            console.log("GST No. is required");
            document.getElementById('GSTcheck').innerText = "GSTNo is required";
            document.getElementById('GSTcheck').style.color = 'red';
        } else if (!GSTNoPattern.test(GSTNo)) {
            document.getElementById('GSTcheck').innerText = 'Invalid GST Number';
            document.getElementById('GSTcheck').style.color = 'red';
        } else {
            document.getElementById('GSTcheck').innerText = 'GST Number is valid';
            document.getElementById('GSTcheck').style.color = 'green';
        }
    });

    // Fetch bank details when IFSC code is entered
    document.getElementById('IFSCCode').addEventListener('input', function () {
        console.log('IFSC code changed');
        var IFSCcode = document.getElementById('IFSCCode').value;
        if (IFSCcode.length === 11) {
            $.ajax({
                url: 'https://ifsc.razorpay.com/' + IFSCcode,
                type: 'GET',
                success: function (response) {
                    console.log('Bank details:', response);
                    document.getElementById('bankName').value = response.BANK;
                    document.getElementById('bankName').disabled = true;
                    document.getElementById('branchName').value = response.BRANCH;
                    document.getElementById('branchName').disabled = true;
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching bank details:', error);
                }
            });
        }
    });




    function submitForm() {
        event.preventDefault();

        var formData = new FormData(document.getElementById('appointmentForm'));

        console.log('Form data:', formData);

        $.ajax({
            url: '/submitAppointmentForm',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {

                // Show SweetAlert2 popup
                Swal.fire({
                    icon: 'success',
                    title: 'Form Submitted!',
                    text: 'Your Form submitted successfully!',
                    confirmButtonText: 'OK'
                });

            },
            error: function (xhr, status, error) {

                var errorResponse = JSON.parse(xhr.responseText);

                var errorMessage = errorResponse.error;

                // Show SweetAlert2 popup
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Error submitting form: ' + errorMessage,
                    confirmButtonText: 'OK'
                });
            }
        });
    }
</script>


</html>